.hana {
	font-family:"HANA";
}

.hanaB {
	font-family:"HANAB";
}

.hanaI {
	font-family:"HANAI";
}

.hanaBI {
	font-family:"HANABI";
}

.caviarDream {
	font-family:"caviarDream";
}

.caviarDreamB {
	font-family:"caviarDreamB";
}

.caviarDreamI {
	font-family:"caviarDreamI";
}

.caviarDreamBI {
	font-family:"caviarDreamBI";
}